# Copier ce fichier en .env pour développement local

# Auth Service
AUTH_PORT=3001
JWT_SECRET=supersecretjwtkey2024
JWT_EXPIRES_IN=7d

# Student Service
STUDENT_PORT=3002

# Grade Service
GRADE_PORT=3003

# Gateway
GATEWAY_PORT=3000

# MongoDB
MONGO_URI=mongodb://localhost:27017/grade_db
